<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.cognizant.spring_learn" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>